@model IEnumerable<NerdStore.Catalogo.Application.ViewModels.CategoriaViewModel>

@{
    ViewData["Title"] = "Categorias";
}

<h1>Categorias</h1>

<div class="container">
    <div class="row">
        <a asp-controller="Categoria" asp-action="NovaCategoria" class="btn btn-success right">+ Adicionar Novo</a>
    </div>
    <hr />

    <div>
        @{
            foreach (var categoria in Model)
            {
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        @categoria.Nome
                        <div class="btn-group" role="group" aria-label="Basic example">
                          <a asp-controller="Categoria" asp-action="AtualizarCategoria" asp-route-id="@categoria.Id" class="btn btn-success right">Editar</a> &nbsp;
                          <a asp-controller="Categoria" asp-action="RemoverCategoria" asp-route-id="@categoria.Id" class="btn btn-danger right">Remover</a> &nbsp;
                        </div>
                        
                    </li>
                </ul>
            }
        }
    </div>

</div>

